<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/template/assets/css/main.css}" />
  <link rel="stylesheet" th:href="@{../static/style.css}" />

  <noscript><link rel="stylesheet" th:href="@{/template/assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">

  <header id="header">
    <a href="index.html" class="logo">poketra</a>
  </header>

  <nav id="nav">
    <ul class="links">
      <li><a th:href="@{/test/acceuil2}">This is Massively</a></li>
      <li class="active"><a href="generic.html">Generic Page</a></li>
      <li><a href="elements.html">Elements Reference</a></li>
    </ul>
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
  </nav>

  <div id="main">
    <div class="contains">
      <div class="div_link">
        <h3><strong>Taille</strong></h3>
        <ul>
          <li><a th:href="@{/taille/pageinsert}">Insertion de taille</a></li>
        </ul>
      </div>

      <div class="div_link">
        <h3><strong>Employes</strong></h3>
        <ul>
          <li><a th:href="@{/mpiasa/affrecrut}">Insertion Employer</a></li>
          <li><a th:href="@{/mpiasa/status}">Update Employer</a></li>
          <li><a th:href="@{/mpiasa/aff}">List Status Employer</a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Stocks matiere</strong></h3>
        <ul>
          <li><a th:href="@{/entrer/affins}">Stock insert</a></li>
        </ul>
      </div>
      <div class ="div_link">
        <h3><strong>Type</strong></h3>
        <ul>
          <li><a th:href="@{/type/page}">Insertion de Type de sac </a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Fabrications</strong></h3>
        <ul>
          <li><a th:href="@{/fabrication/affins}">Fabrication Poketra</a></li>
          <li><a th:href="@{/fabrication/reste}">Reste matiere</a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Look et Matiere</strong></h3>
        <ul>
          <li><a th:href="@{/look_matiere/page}">Insertion de matiere avec son look </a></li>

        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Look</strong></h3>
        <ul>
          <li><a th:href="@{/look/pageinsert}">Creation Look </a></li>
          <li><a th:href="@{/look/get}">List des Looks</a></li>
<!--          <li><a href="">List look selon les matieres</a></li>-->
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Matiere</strong></h3>
        <ul>
          <li><a th:href="@{/matiere/pageinsert}">Insertion de matiere</a></li>
          <li><a th:href="@{/matiere/selection}">Selection de matiere</a></li>
        </ul>
      </div>


      <div class ="div_link">
        <h3><strong>Poketra</strong></h3>
        <ul>
          <li><a th:href="@{/poketra/page}">Insertion de poketra </a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Sur les Prix</strong></h3>
        <ul>
          <li><a th:href="@{/prix/prixinsert}">Insertion de Prix </a></li>
        </ul>
      </div>


      <div class ="div_link">
        <h3><strong>Production</strong></h3>
        <ul>
          <li><a th:href="@{/production/page}">Insertion de produit </a></li>
        </ul>
      </div>


      <div class ="div_link">
        <h3><strong>Style</strong></h3>
        <ul>
          <li><a th:href="@{/style/page}">Insertion de style </a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Taille Control</strong></h3>
        <ul>
          <li><a th:href="@{/taille/pageinsert}">Inserer une nouvelle taille</a></li>
        </ul>
      </div>

      <div class ="div_link">
        <h3><strong>Vente</strong></h3>
        <ul>
          <li><a th:href="@{/vente/affvente}">insertion de vente </a></li>
          <li><a th:href="@{/vente/afffiltre}">Statistique de ventes </a></li>
        </ul>
      </div>

    </div>
  </div>



</div>

<script th:src="@{/template/assets/js/jquery.min.js}"></script>
<script th:src="@{/template/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/template/assets/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/template/assets/js/browser.min.js}"></script>
<script th:src="@{/template/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/template/assets/js/util.js}"></script>
<script th:src="@{/template/assets/js/main.js}"></script>
</body>
</html>