<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert_multiple</title>
  <link rel="stylesheet" th:href="@{/template/assets/css/main.css}" />
  <noscript><link rel="stylesheet" th:href="@{/template/assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">

  <header id="header">
    <a href="index.html" class="logo">poketra</a>
  </header>

  <nav id="nav">
    <ul class="links">
      <li><a th:href="@{/test/acceuil2}">This is Massively</a></li>
      <li class="active"><a href="generic.html">Generic Page</a></li>
      <li><a href="elements.html">Elements Reference</a></li>
    </ul>
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
    </ul>
  </nav>

  <div id="main">
    <h2>Insertion du nombre multiplicatif d'ouvrier</h2>

    <form method="get" th:action="@{/multiple_ouvrier/insert}">
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="number" name="multiple_ouvrier" id="multiple_ouvrier" value="" placeholder="nb multiplicatif d'ouvrier" />
        </div>

        <!-- Break -->
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="inserer" class="primary" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
